@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --purple: #9c1fe9;
    --lighpurple: #f7e9fe;
    --darkgrey: #b6b6b6;
    --lighgrey: #e9e9e9;
    --blue: #2980b9;
    --green: #27ae60;
    --red: #ea6153;
    --yellow: #FFBF00;
    --background: #f8f8f8;
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3% 8%;
    background-color: #f8f8f8;
}

.top-row {
    width: 100%;
    display: flex;
}

.top-row h1 {
    width: 90%;
}

.back-btn {
    width: 10%;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn img {
    margin-right: 15px;
}

.back-btn:hover {
    cursor: pointer;
    transform: scale(1.20);
    transition-duration: .2s;
}