<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <%- include('navbar'); %>
    <div class="body">
        <h1 class="overview-title">Overview</h1>
        <div class="row">
            <div id="liquid-income-table-div" class="liquid-income-table-div">
                <h3>Liquid Income</h3>
                <table id="liquid-income-table" class="liquid-income-table">
                    
                </table>
            </div>
            <div id="income-ratio-chart-div" class="income-ratio-chart-div">
                <h3>Income Strings Ratio (€)</h3>
                <div id="income-ratio-chart" class="income-ratio-chart"></div>
                <script src="/graphs/income-ratio-chart.js"></script>
            </div>
            <div id="budgeting-arrow-table-div" class="budgeting-arrow-table-div">
                <h3>Budgeting</h3>
                <table id="budgeting-arrow-table" class="budgeting-arrow-table">
                    
                </table>
            </div>
        </div>
        <div class="row">
            <div id="taxes-chart-div" class="taxes-chart-div">
                <h3>Taxes (%)</h3>
                <div id="taxes-chart" class="taxes-chart"></div>
                <script src="/graphs/taxes-chart.js"></script>
            </div>
            <div id="money-left-div" class="money-left-div">
                <h3>After Taxes and Expenses you have (€):</h3>
                <div id="money-left-chart" class="money-left-chart"></div>
                <script src="/graphs/money-left-chart.js"></script>
            </div>
            <div id="expenses-table-div" class="expenses-table-div">
                <h3>Expenses</h3>
                <table id="expenses-table" class="expenses-table">
                </table>
            </div>
        </div>
    </div>
</body>
</html>