<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <div class="header">
        <ul class="menu">
            <li>
                <a href="/">
                    <img src="home-icon.png" width="28px" height="28px">
                </a>
            </li>
            <li>
                <a href="/incomeStrings">
                    <img src="income-strings-icon.png" width="28px" height="28px">
                    <h4>Income Strings</h4>
                </a>
            </li>
            <li>
                <a href="/liquidIncome">
                    <img src="liquid-income-icon.png" width="28px" height="28px">
                    <h4>Liquid Income</h4>
                </a>
            </li>
            <li>
                <a href="/taxes">
                    <img src="taxes-icon.png" width="28px" height="28px">
                    <h4>Taxes</h4>
                </a>
            </li>
            <li>
                <a href="/expenses">
                    <img src="expenses-icon.png" width="28px" height="28px">
                    <h4>Expenses</h4>
                </a>
            </li>
            <li>
                <a href="/budgeting">
                    <img src="budgeting-icon.png" width="28px" height="28px">
                    <h4>Budgeting</h4>
                </a>
            </li>
        </ul>
        <div class="profile">
            <a href="/profile">
                <img src="user-icon.png" width="28px" height="28px">
                <h2>Profile</h2>
            </a>
            
        </div>
        <div class="logout">
            <a href="/logout">
                <img src="logout-icon.png" width="28px" height="28px">
            </a>
        </div>
    </div>
</body>
</html>