<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include('navbar') %>
    <div class="body">
        <div class="top-row">
            <h1>Profile</h1>
            <a class="back-btn" href="/"><img src="/images/back-icon.png" width="24px" height="24px">Back</a>
        </div>
        <div class="mid-row">
            <h3>Username: <%= userData[0].username %></h3>

            <h3>Email: <%= userData[0].email %></h3>
            <h3>Joined In: <%= userData[0].joinDate %></h3>
        </div>
    </div>
</body>
</html>