@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --purple: #9c1fe9;
    --lighpurple: #f7e9fe;
    --darkgrey: #b6b6b6;
    --lighgrey: #e9e9e9;
    --blue: #2980b9;
    --green: #27ae60;
    --red: #ea6153;
    --yellow: #FFBF00;
    --background: #f8f8f8;
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 8%;
    background-color: var(--background);
}

/* Title and back button */
.top-row {
    width: 100%;
    display: flex;
}

.top-row h1 {
    width: 90%;
}

.back-btn {
    width: 10%;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition-duration: .2s;
}

.back-btn img {
    margin-right: 15px;
}

.back-btn:hover {
    cursor: pointer;
    transform: scale(1.20);
}

/* Edit profile form */
.mid-row {
    width: 100%;
    padding: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mid-row form {
    width: 80%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.input label {
    width: 30%;
}

.input input {
    width: 70%;
    padding: 10px;
    border: 1px solid var(--darkgrey);
    border-radius: 2px;
}

.btn-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-div input {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid var(--green);
    background-color: var(--green);
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
}

.btn-div input:disabled {
    border: 1px solid var(--darkgrey);
    background-color: var(--lighgrey);
    color: black;
    cursor: not-allowed !important;
}

.btn-div input:hover {
    cursor: pointer;
    transform: scale(1.20);
}

.edit-btn, .cancel-btn {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
}

.edit-btn {
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
}

.cancel-btn {
    display: none;
    border: 1px solid var(--red);
    background-color: var(--red);
}

.edit-btn img, .cancel-btn img {
    margin-right: 15px;
}

.edit-btn:hover, .cancel-btn:hover {
    cursor: pointer;
    transform: scale(1.20);
}